.tabs-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  margin-top: 1rem;
}

.tab {
  cursor: pointer;
  font-weight: normal;
  color: gray;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.tab.active {
  font-weight: bold;
  color: black;
  background-color: #e0e0e0;
}

.dashboard-container {
  padding: 20px 20px 0 20px;
  background: #ffffff;
  border-radius: 12px;
  height: 85vh;
}
.content-container {
  flex-grow: 1;
  overflow: hidden;
}
