.secret-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
}

.secret-search-filters-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

.secret-reset-button {
  color: #1976d2;
  border-color: #1976d2;
  height: 56px;
  width: 150px;
}

.secret-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.type-search-bar {
  width: 185px;
}

